@import "../../constants/consts.scss";


.main-content{
    display: flex;
    flex-direction: column;
    background-color: $main-background-color;
    justify-content: center;
    align-items: center;
    min-height: calc(100vh - 58px);
    width: 100%;
    &__title{
        @extend .heading1;
        height: 40px;
        margin-bottom: 9px;
    }
    &__register{
        @extend .text2;
        & a{
            color: #4285F4;
        }
    }
}
