@import '../../../constants/consts.scss';

.button-blue {
  @extend .button2;
  justify-self: end;
  background-color: $main-color;
  color: white;
}
.variant1 {
  @extend .button2;
  justify-self: end;
  align-self: end;
  background-color: #ffffff;
}
